
.staggeredCard {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}



.card-image{
   
}


.card-text{
    vertical-align: middle;
}