
.staggeredCard {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.cardImage img{
    border-radius: 10px;
    max-width: 300px;
    max-height: 200px;
    vertical-align: middle;

}