h1 {
    text-align: center;
}

.carousel-img {
    margin-top: 50px;
}

.sb-blue {
    background-color: #18335d;
}

.sponsors{
	padding-left: 30px;
	padding-right: 30px;
}

.fixed{
	position: fixed;
	bottom: 0;
	height: 22px;
    width:100%;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
}
