body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carousel{
    height: 600px;
}

.main-body{
    margin-left:  20px;
    margin-right: 20px;
    margin-top: 30px;
}

.bigblock {
  padding-top: 110px
}

header {
  height: 100px;
}
